@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament';
@source '../../../../resources/views/filament';
@source '../../../../resources/views/components';
@source '../../../../vendor/bezhansalleh/filament-language-switch/resources/views/**/*.blade.php';
